script.
    window.apmrum = (window.apmrum || {}); 
    window.apmrum.serviceName='Mushop-Service';
    window.apmrum.webApplication='Mushop';
    window.apmrum.ociDataUploadEndpoint='<your-data-upload-endpoint>';
    window.apmrum.OracleAPMPublicDataKey='<your-public-data-key>';
    window.apmrum.traceSupportingEndpoints =  [ { headers: [ 'APM' ], hostPattern: '.*' }, { headers: [ ], hostPattern: '.*' }]; 
script(async, crossorigin='anonymous', src='<your-data-upload-endpoint>/static/jslib/apmrum.min.js')