script.
    window.apmrum = (window.apmrum || {}); 
    window.apmrum.serviceName='Mushop-Service';
    window.apmrum.webApplication='Mushop';
    window.apmrum.ociDataUploadEndpoint='https://aaaadfjcehb42aaaaaaaaacxom.apm-agt.ap-sydney-1.oci.oraclecloud.com';
    window.apmrum.OracleAPMPublicDataKey='OF4VFGLXRWGQW4NVVKMV2U6KUFUYQROW';
    window.apmrum.traceSupportingEndpoints =  [ { headers: [ 'APM' ], hostPattern: '.*' }, { headers: [ ], hostPattern: '.*' }]; 
script(async, crossorigin='anonymous', src='https://aaaadfjcehb42aaaaaaaaacxom.apm-agt.ap-sydney-1.oci.oraclecloud.com/static/jslib/apmrum.min.js')